.flor{
  flex: content;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 7rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter .3s;
  filter: drop-shadow(0 0 2em #fbe461aa);
}

@keyframes logo-spin {
  0% {
      transform: rotate(0)
  }

  to {
      transform: rotate(360deg)
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
      animation: logo-spin infinite 20s linear
  }
}
